/* .info_1{
    display: flex;
    height: auto;
    justify-content:space-evenly;
}
.about{
    margin-left: 10rem;
    margin-top: 5rem;
}
.about_1
{
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    margin-top:5rem;
    width: 30rem;
    text-align: justify;
    line-height: 2rem;
}
.img
{
    height: 500px;
    width: auto;
    border-radius: 25px;
}
.info_2
{
    display: flex;
    height: auto;
    justify-content:space-evenly;  
} */