*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    width: 1535px;
    position: fixed;
    background-color: #ffffff;
    padding: 15px 30px;
    justify-content: space-between;
}

.logo {
    padding-left: 10px;
    font-size: 24px;
    font-weight: bolder;
}

.nav_link {
    font-size: 20px;
    color: rgb(114, 114, 114);
    display: flex;
    list-style-type: none;
    text-decoration: none;
    margin-left: 70px;
}
.nav1 a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
}